{% set test = __SELF__.test %}
{% set questions = __SELF__.questions %}
{% set answers = __SELF__.answers %}
{% set trueamount = __SELF__.trueamount %}
{% set questionids = __SELF__.questionids %}
<div class="row">
	<div class="col s12 l9">
		<h3>{{test.title}}</h3>
		<h3 class="hide-on-large-only points">{{data.Questions|length}} Points</h3>
		<span>{{test.description|raw}}</span>
		<div>
			<form data-request="onHandIn" data-request-success="server(data);" data-request-data=" trueamount: {{trueamount|length}}, testid: {{test.id}}">
			{% for question in questions %}
				{% set index = loop.index0 %}
				<p>{{question.question}}</p>
				<span class="result">{{question.description|raw}}</span>
				<input style="display: none;" type="number" name="{{question.id}}" value="{{trueamount[index]}}">
				{% for answer in answers[index] %}
					{% set answerindex = loop.index0 %}
					<p>
						<input type="checkbox" id="{{question.id}}{{answer.id}}" name="{{question.id}}&{{answer.id}}">
						<label for="{{question.id}}{{answer.id}}">{{answer.answer}}</label>
						{% if answer.result %}
							<i class="material-icons result green-text">check</i>
						{% else %}
							<i class="material-icons result red-text">clear</i>
						{% endif %}
						<span class="result">&nbsp;{{answer.description}}</span>
					</p>
				{% endfor %}
			{% endfor %}
			<button class="btn waves-effect waves-light" type="submit">Submit</button>
			</form>
		</div>
	</div>
	<div class="col l3 hide-on-med-and-down">
	    <h3 class="points">&nbsp;{{trueamount|length}} Points</h3>
	    <br>
	    <ul class="section table-of-contents" style="max-width: 15vw;">
            {% for question in questions %}
                <li><a href="#{{question.id}}">{{question.question}}</a></li>
            {% endfor %}
        </ul>
	</div>
</div>
<script type="text/javascript">
	function server(response){
		$('.result').toggle();
		swal({
			title: response.message,
			text: "You got "+response.percentage+"% of the points.",
			type: response.type,
			showConfirmButton: false,
			allowOutsideClick: true
		});
		$('#points').html(response.points+"/"+{{test.Questions|length}}+" Points");
	}
    $('.scrollspy').scrollSpy();
    $('.table-of-contents').pushpin({
      top: 130,
      offset: 10,
      bottom: 1000000000
    });
</script>